*{
  margin:0;
  box-sizing: border-box;
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
  background-color: blueviolet;
  height: 80px;
  position: relative;
  width: 100%;
  top:0;
  left: 0;
}

.nav{
  display: flex;
  justify-content: space-between;
  max-width: 992px;
  margin: 0 auto;
  /*background-color: brown;*/ /*comentario*/
}

.logo{
  font-size: 30px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 80px;
}
.nav-link{
  color:white;
  text-decoration: none;
}

.nav-menu{
  display: flex;
  margin-right: 40px;
  list-style: none;
}
.nav-menu-item{
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  text-transform: uppercase;
  width: max-content;
}

.nav-menu-link:hover,
.nav-menu-link_active{
  color: cornsilk;
  transition: 0.5s;
}


.nav-toggle{
  color: blue;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}
.nav-menu-visible{
  left:0;
}

@media (max-width:768px){
  body{
    padding-top: 70px;
  }
  .header{
    height: 60px;
  }
  .logo{
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
  }
  .nav-menu{
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    background-color: rgb(183, 183, 184);
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 60px);
    overflow-y: auto;
    left:100%;
    transition:left 0.3s ;
  }
  .nav-menu-item{
    line-height: 70px;
  }
  .nav-menu-link:hover,
  .nav-menu-link_active{
    background: none;
    color:rgba(226, 43, 168)
  }
  .nav-toggle{
    display: block;
  }
  .nav-menu_visible{
    left:0;
  }
  .nav-toggle:focus:not(:focus-visible){
    outline: none;
  }

}

